# Entornos virtuales
.venv/
venv/
ENV/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de Node/NPM (si llegas a usar)
node_modules/
npm-debug.log*

# Archivos de VS Code
.vscode/
*.code-workspace

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
*.swp

# Archivos de compilación
dist/
build/
